.container {
  height: 16vh;
  width: 100%;
  background-color: #f1f0e8;
  box-shadow: 0 1px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userimg {
  border-radius: 50%;
}
.title {
  font-size: 2vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding-right: 1rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin-left: 1rem;
  border-radius: 10px;
  width: 30%;
}
.input {
  border: none;
  height: 32px;
  width: 100%;
  font-size: 2vh;
}
.user {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.profile {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  gap: 3rem;
}
