.container {
  display: flex;
 
}

.menu {
  flex: 1;
  background-color: #d9d9d9;
  box-shadow: 0 5px 10px;
  height: 100vh;
  position: sticky;
  top: 1px;
}

.contents {
  flex: 4;
 
  background-color: #fff;
}

.title {
  text-align: center;
  opacity: 0.5;
  padding: 0.5rem;
  box-shadow: 0 5px 5px;
  
margin: 0.5rem;
}

.tasks {
  display: flex;
  justify-content: space-evenly;
}
.files {
  margin-top: 3rem;
  text-align: center;
  background-color: #adc4c9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 3px;
}

.filecon {
  margin: 3rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px;
  height: 40em;
  width: 90%;
}

.prioritycon {
  width: 30%;
  text-align: left;
  background-color: #efe3d0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  margin-top: 3rem;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 1px 1px;
  max-width: 600px; /* Set maximum width for the container */
  min-width: 300px; /* Set minimum width for the container */
}

.clen,
.imp {
  background-color: #adc4c9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 3px;
}

.calencon {
  width: 30%;
  text-align: left;

  display: flex;
  flex-direction: column;

  height: calc(100% - 40px);
  margin-top: 3rem;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0px 1px 1px;
  max-width: 600px; /* Set maximum width for the container */
  min-width: 300px; /* Set minimum width for the container */
  overflow: hidden;
 
}
.dot {
  width: 100%;
  height: 100%;
}
.btn {
  width: 100%;
  background-color: #efe3d0;
  height: 5vh;
  border-radius: 10px;
  font-weight: bold;
}
