.logo {
  text-align: center;
  font-size: 2vh;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  background-color: #f1f0e8;
}

.container2 {
  background-color: #d9d9d9;
  border-radius: 15px;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 2vh;
}
.item1,
.item2,
.item3,
.item4,
.item5 {
  margin: 1rem;
  padding: 1rem;
  color: black;
  border-radius: 20px;
  background-color: white;
  width: 50%;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover {
  background-color: #f1f0e8;
}
